<div class="row">

    <div class="col-md-4">
        <p>De</p>
        <p class="input-group">
            <input type="text"
                   class="form-control"
                   datepicker-popup="dd-MM-yyyy"
                   is-open="openedStartDate"
                   ng-model="startDate"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   ng-required="true"
                   close-text="Fechar"
                   clear-text="Limpar"
                   current-text="Hoje" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="fa fa-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-md-4">
        <p>Até</p>
        <p class="input-group">
            <input type="text"
                   class="form-control"
                   datepicker-popup="dd-MM-yyyy"
                   is-open="openedEndDate"
                   ng-model="endDate"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   ng-required="true"
                   close-text="Fechar"
                   clear-text="Limpar"
                   current-text="Hoje" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 2)"><i class="fa fa-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-md-4">
        <div style="visibility: hidden;" class="hidden-xs hidden-md">
            <p>Buscar</p>
        </div>
        <input type="button" class="btn btn-primary btn-block" ng-click="getReport()" value="Buscar">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dia</th>
            <th>Registros</th>
            <th>Trabalhado</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="record in records">
            <td class="col-md-2">{{record.Key}}</td>
            <td class="col-md-8">
                <div class="col-md-3" style="display: inline;" ng-repeat="register in record.List">
                    <span class="label"
                          ng-class="{ 'label-success': register.Action.Id == 1 || register.Action.Id == 3, 'label-warning': register.Action.Id == 2, 'label-danger' : register.Action.Id == 4 }"
                          tooltip-placement="bottom"
                          tooltip="{ 'Entrada': register.Action.Id == 1, 'Volta da pausa': register.Action.Id == 3, 'Pausa': register.Action.Id == 2, 'Saída' : register.Action.Id == 4 }">{{register.Action.Name.substring(0,1)}}</span>
                    <span>{{  register.DateFormatedHourMinute }}</span>
                </div>
            </td>
            <td class="col-md-2">{{record.Worked}}</td>
        </tr>
    </tbody>
</table>

<nav class="navbar-form navbar-fixed-bottom">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dias</th>
                <th></th>
                <th>Total trabalhado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-2">{{records.length}} dias</td>
                <td class="col-md-8"></td>
                <td class="col-md-2">{{totalWorked}}</td>
            </tr>
        </tbody>
    </table>
</nav>